    <div class="main">
      <div class="cabecera1">
          <img class= "foto" src="assets/fotoPerfil2.jpg">
          <h1>{{nombre}}</h1>
          <h3 id="descripcion">Soy un chico alegre, trabajador, sociable y empático al que le
              apasiona la tecnología y cómo esta, a través de la innovación
              constante y de diferentes aplicaciones, ayuda a solventar
              numerosos problemas en la vida cotidiana de las personas</h3>
      </div>
      <div class="estudios">
              <h2>Estudios:</h2>
              <h2 id="titulacion">{{titulacion}}</h2>
              <h2 id="titulacion">{{universidad}}</h2>
          <div class="descripcion">
              <h3 id="cuerpo">Siempre me he querido dedicar a una
                  profesión que me permitiera ayudar a las personas y hacer
                  de su vida una experiencia más sencilla y comfortable.
                  Cuando me tocó escoger mis estudios, descubrí que esta
                  ingeniería era la mejor opción, ya que a través de la
                  tecnología puedo cumplir mi propósito principal sin
                  renunciar a mi pasión por la informática.</h3>
                  <br>
                  <h3 id="nota">{{nota}}</h3>
                  <h3 id="especialidad">{{especialidad}}</h3>
                  <h2>Formación extracadémica y voluntariado</h2>
                  <h3>Natación: deportista de élite durante 10 años</h3>
                  <h3>Balonmano: deportista federado durante 3 años</h3>
                  <h3>Alumno de guitarra durante 2 años</h3>
                  <h3>Animal (Gatoteca): cuidado y atención de colonias de gatos
                      rescatados durante 3 años</h3>
                  <h3>Educación: enseñanza ofimática y nuevas tecnologías a
                      personas de la tercera edad durante 2 años</h3>
          </div>

      </div>

      <div class="informacion">
          <div class="cabecera2">
              <h2>Datos de contacto</h2>
          </div>
          <h4>{{telefono}}</h4>
          <h4>{{email}}</h4>
          <h4>Perfil LinkedIn: {{linkedin}}</h4>
          <div class="cabecera3">
              <h2>Herramientas</h2>
          </div>
          <h4>GIT</h4>
          <h4>SQL WB.</h4>
          <h4>DOCKER</h4>
          <div class="cabecera4">
              <h2>Lenguajes</h2>
          </div>
          <h4>JAVA</h4>
          <h4>C</h4>
          <h4>PYTHON</h4>
          <h4>SCALA</h4>
          <h4>HTML/CSS</h4>
          <div class="cabecera5" >
              <h2>Idiomas</h2>
          </div>
          <h4>ESPAÑOL --- NATIVO</h4>
          <h4>INGLÉS --- B2</h4>
          <h4>FRANCÉS --- A2</h4>
        </div>
      </div>